@charset "utf-8";

/*<!--登录详情部分------------------------------------------------------------------------------>*/

.login {
	width: 995px;
	height: 492px;
	margin: 0 auto;
	padding: 65px 0;
}

.login h2 {
	font-weight: normal;
	color: #999999;
	font-size: 20px;
	height: 45px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 36px;
}


/*<!--登录详情左边部分------------------------------------------------------------------------------>*/

.loginLeft {
	position: relative;
	width: 500px;
	height: 400px;
	float: left;
	background: url(img/huiyuan.jpg) no-repeat;
	background-size: cover;
}

.register {
	position: absolute;
	margin: 0 auto;
	left: 174px;
	bottom: 20px;
	display: block;
	width: 150px;
	height: 46px;
	line-height: 48px;
	text-align: center;
	border: 1px solid #64A131;
	font-size: 17px;
	color: #64A131;
	border-radius: 3px;
}


/*<!--登录详情右边部分------------------------------------------------------------------------------>*/

.loginRight {
	float: right;
	margin-top: 60px;
	width: 490px;
	color: #999999;
}

.loginRight p {
	height: 66px;
	line-height: 66px;
	font-size: 15px;
	position: relative;
}

.loginRight p .detection {
	width: 22px;
	height: 22px;
	background: url(img/collection.png) no-repeat -528px 0;
	position: absolute;
	right: -36px;
	top: 22px;
	display: none;
}

.loginRight i {
	float: left;
	font-style: normal;
	width: 152px;
	height: 100%;
	text-align: right;
	padding-right: 38px;
}

.loginRight label,
.loginRight label a {
	font-size: 15px;
}

.loginRight span {
	float: right;
}

.tel,
.psw {
	width: 298px;
	height: 38px;
	border: 1px solid #ccc;
}

.pullLeft {
	float: left;
}

.pullRight {
	float: right;
}

.pullRight a {
	text-decoration: underline;
}

.loginRight .pLast {
	height: 40px;
	line-height: 36px;
}

.pLast .a1 {
	float: left;
	width: 143px;
	height: 38px;
	background: #64A131;
	text-align: center;
	color: white;
	font-size: 17px;
	border-radius: 3px;
}

.pLast .a2 {
	float: right;
	width: 141px;
	height: 36px;
	border: 1px solid #64A131;
	text-align: center;
	color: #64A131;
	background: #f5ffed;
	font-size: 17px;
	border-radius: 3px;
}